.form-horizontal.submit-form>legend {
    padding-bottom: 3px;
    font-size: 22px;
    margin-top: 10px;
}

.container.content {
    width: 90vw;
}

.problem-text-submit {
    font-size: 15px;
}

.spread {
    display: flex;
    flex-direction: row-reverse;
}

.spread form {
    width: 60%;
}

.spread .desc {
    width: 40%;
}