:root {
  --code-window-width: 50;
  --resize-bar: 20px;
  --background-color: #454545;
  --editor-color: #1e1e1e;
  --font-color: white;
  --edge-color: #454545;
  --sample-color: #454545;


}


#problem-body > .col-md-12:has(#hint){
  display:flex;
  flex-direction: column-reverse;
}

#submit_form legend{
  color : var(--font-color-200);
}
body .CodeMirror-gutters{
  background-color: var(--background-color);
}
#logo-header{
  filter: var(--header-logo-filter);
}
body.pace-running #submit_form, body.pace-running #code-runner{
  display:none;
}
.col-md-12 >#submit_form{
  margin: 0px;
  height: 100vh;
  padding-left: var(--resize-bar);
  padding-right: var(--resize-bar);
  border-radius: 10px;
  z-index: 1;
  position: fixed;
  background:var(--editor-color);
  height: calc(100vh);
  top: 0px;
  left: calc(var(--code-window-width)* 1%);
  width: calc((100 - var(--code-window-width))* 1%);
  border-left: 1px solid var(--edge-color);
  overflow-y: auto;
}

.col-md-12 >#submit_form > .form-group > .col-md-2{
  width:auto;
} 
#language_chosen.chosen-container{
  width:156px!important;
}

html body{
  color:var(--font-color-200);  
}
body h1,body h2,body h3,body h4,body h5,body h6{
  color:var(--font-color-300);
}
body .header .navbar-default .navbar-nav > li > a {
  color:var(--font-color-400);
}
body p, body li, body li a{
  color:var(--font-color-100);
}
body .wrapper{
  background-color: var(--editor-color);
}
.wrapper .container.content {
  width: calc(var(--code-window-width) * 1%);
  margin: inherit;
}
.navbar .container,
.topbar .container {
  width: auto;
}
.header {
  width: calc(var(--code-window-width) * 1%);
}
.resize-bar {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: calc(var(--code-window-width) * 1% - 10px);
  height: 100%;
  width: calc(var(--resize-bar-width) * 1px);
}
.resize-icon {
  position: fixed;
  display: flex;
  width: calc(var(--resize-bar-width) * 1px);
  top: 50%;
  transform: translate3d(0, -50%, 0);
  justify-content: space-between;
}
.resize-icon div {
  width: 1px;
  height: 40px;
  background-color: black;
}
.wrapper {
  position: relative;
}

.content > .row.question_full {
  width: 100% !important;
}

.row.code > .run_div {
  max-width: 100vw;
  left: 0;
}
.row.hide_code > .run_div {
  transform: translateX(200%);
}

.boj-addon {
  z-index: 1;
  position: fixed;
  height: calc(100vh);
  top: 0px;
  left: calc(var(--code-window-width) * 1%);
  width: calc((100 - var(--code-window-width)) * 1%);
}
.sampledata {
  width: -webkit-fill-available;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  font-size: 18px;
  font-family: Menlo, Monaco, 'Source Code Pro', consolas, monospace;
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow-x: scroll;
}
.input_selector {
  transform: translate(100%);
  z-index: 2;
  position: fixed;
  height: calc(100vh - 50px);
  top: 50px;
  left: 15px;
  background: #1e1e1e;
  width: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.input_selector button {
  display: flex;
  justify-content: left;
  text-align-last: left;
  width: 50%;
  white-space: pre-wrap;
}
.displayNone {
  display: none;
}
.iframe_controller {
  position: fixed;
  height: 42px;
  top: 0px;
  left: 50%;
  display: flex;
  gap: 10px;
  background-color: white;
  z-index: 1;
}
.iframe_controller button {
  background: none;
  border: none;
  padding: 10px 15px;
}
.iframe_controller .on {
  color: #fff;
  background-color: #428bca;
}
.btn-add-sample,
.btn-add-check {
  border: 0;
  color: #fff;
  background-color: #428bca;
  font-size: 2rem;
  margin-left: 15px;
  padding: 1rem;
}
