.content > .row {
  width: 50% !important;
  position: relative;
}
.run_div {
  height: calc(100vh - 289px);
  position: fixed;
  top: 200px;
  left: 50%;
  max-width: 570px;
  width: 100%;
}
.input_selector {
  transform: translate(100%);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}
.input_selector button {
  display: flex;
}
.displayNone {
  display: none;
}
