.content > .row {
  width: 50% !important;
  position: relative;
}
.run_div {
  position: absolute;
  right: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
}
.input_selector {
  transform: translate(100%);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}
.input_selector button {
  display: flex;
}
.displayNone {
  display: none;
}
