#Editor {
  width: 100%;
  height: calc(100% - 48px);
}

#code-runner {
  margin: 0px;
  height: 100vh;
  padding-left: var(--resize-bar);
  padding-right: var(--resize-bar);
  background: var(--background-color);
  font-size: 20px;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: calc(var(--code-window-width) * 1%);
  width: calc((100 - var(--code-window-width)) * 1%);
}
