.wrong {
  color: red;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 18px;
  border-bottom: 1px solid var(--background-color);
  white-space: pre;

}

.correct {
  color: green;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 18px;
  border-bottom: 1px solid var(--background-color);
  white-space: pre;

}
