#Editor {
    width: 100%;
    height: calc(100% - 48px);
    border: 1px solid var(--edge-color);
    color: var(--font-color);
  }
  #code-runner {
    margin: 0px;
    height: 100vh;
    padding-left: var(--resize-bar);
    padding-right: var(--resize-bar);
    border-radius: 10px;
    background-color: var(--background-color);
    font-size: 20px;
    z-index: 1;
    position: fixed;
    height: calc(100vh);
    top: 0px;
    left: calc(var(--code-window-width) * 1%);
    width: calc((100 - var(--code-window-width)) * 1%);
    border-left: 1px solid var(--edge-color);
  }
  